
body{
    background-color: aqua;
}
.navbar {
display: flex;
margin-left: 25%;
}
 div a{
    display: inline-block;
   margin-left: 80px; 
   text-decoration: none;
   color:black;
   font-weight: bold;
   border:none;
   border-radius: 10px;
   font-size:18px;
}
a:hover{
color:brown;
text-decoration: underline;
}
#formdata{
    
    width: 400px;
    display: grid;
    margin-top: 10%;
    margin-left: 35%;
    padding: 10px;
    background-color: white;
    
}
form label{
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
form input[type="text"],input[type="email"],#role,input[type="numbers"]{
    width:90%;
    padding: 8px;
    margin-bottom: 15px;
    border:1px solid #ccc;
    border-radius: 5px;
}
form input[type="submit"]{
    padding:10px;
    border:none;
    background-color: teal;
    color:white;
    font-size: 16px;
    border-radius:5px;
    cursor:pointer;
}

table{
 border:1px solid black;
 border-collapse:collapse;
 width:50%;
 text-align: center;
 margin-top: 10px;
}
table td,table th{
    padding:8px;
    border: 1px solid black;
}
th{
    color: white;
    background-color: tomato;
}
@media screen and (max-width:400px) {
    .navbar {
 flex-direction: column;
    margin-left: 0;
    }
     div a {
    margin-left: 0;
    font-size: 14px;
    text-decoration:underline;
  }

  #formdata {
    width: 95%;   /* almost full width */
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    padding: 8px;
  }

  form input[type="text"],
  input[type="email"],
  #role,
  input[type="numbers"] {
    width: 90%; /* take full width */
  }

  

  table {
    width: 100%;   /* full screen */
    font-size: 12px;
  }

  table td, table th {
    padding: 6px;
  }
}
